{% extends "layout.html" %}
{% block body %}
{% load widget_tweaks %}

<form action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    
    <table class="table table-sm table-model-form" style="font-size:11pt; font-weight: 600;" >
        <tr class="border-0 border-bottom">
          <td class="" style="width: 16.66%"> <label class="label" style="padding-bottom: 0; padding-top: 12px;">{{form.chauffeur.label}}</label> </td>
          <td style="width: 33%">{{form.chauffeur}}</td>
          <td><span class="text-danger small">{{form.chauffeur.errors | striptags}}</span></td>
        </tr>
        <tr>
          <td class="" style="width: 16.66%"> <label class="label" style="padding-bottom: 0; padding-top: 12px;">{{form.taxi.label}}</label> </td>
          <td style="width: 33%">{{form.taxi}}</td>
          <td><span class="text-danger small">{{form.taxi.errors | striptags}}</span></td>
        </tr>
        <tr>
          <td class=" text-left" style="width: 16.66%"> <label class="label" style="padding-bottom: 0; padding-top: 12px;">{{form.date_permission.label}}</label> </td>
          <td style="width: 33%">{{form.date_permission}}</td>
          <td><span class="text-danger small">{{form.date_permission.errors | striptags}}</span></td>
        </tr>
        <tr>
          <td class=" text-left" style="width: 16.66%"> <label class="label" style="padding-bottom: 0; padding-top: 12px;">{{form.destination.label}}</label> </td>
          <td style="width: 33%">{{form.destination}}</td>
          <td><span class="text-danger small">{{form.destination.errors | striptags}}</span></td>
        </tr>
        <tr>
          <td class="text-left" style="width: 16.66%;"> <label class="label" style="padding-bottom: 0; padding-top: 12px;">{{form.duree_permission.label}}</label> </td>
          <td style="width: 33%">{{form.duree_permission}}</td>
          <td><span class="text-danger small">{{form.duree_permission.errors|striptags}}</span></td>
        </tr>
        <tr>
          <td class="text-left" style="width: 16.66%;"> <label class="label" style="padding-bottom: 0; padding-top: 12px;">{{form.periode_permission.label}}</label> </td>
          <td style="width: 33%">{{form.periode_permission}}</td>
          <td><span class="text-danger small">{{form.periode_permission.errors|striptags}}</span></td>
        </tr>
    
      
    </table>
    <ul class="list-inline  rounded-top rounded-bottom border bg-light" style="padding: 8px 20px 10px 100px;">
        <li><input type="submit"  class="btn ui-button list-group-item" value="Enregistrer" ></li>
    </ul>

   
</form>
{% endblock %}

{% block scripts %}

{{ form.media }}
<script>
 $(function() {
    
   $( ".datepicker" ).datepicker({
     changeMonth: true,
     changeYear: true,
     yearRange: "2010:2032",
     dateFormat:'dd/mm/yy'
     
   });
 });
 
 </script>
  
{% endblock scripts %}