{% extends 'layout.html'%} {% block body%}
<h3>Permissions:</h3>
<div class=""> 
            {% for permission in all_permissions %}
            <ul class="">                
                <li>{{permission.permission_id}}</li>
                <li>{{permission.chauffeur.nom_chauffeur}}  </li>
                <li>{{permission.taxi.numero_taxi}} </li>
                <li>{{ permission.date_debut | date:"d/m/Y" }} {{ permission.date_debut | time:"H:i" }}</li>  
                <li>{{ permission.date_fin | date:"d/m/Y" }} {{ permission.date_fin | time:"H:i" }}</li>  
                
            </ul> 
                {% endfor %}              
                
{% endblock %}